body{
    font-family: 'Oswald', 'Open Sans'; /*выбор основных шрифтов*/
    font-size: 24px; /*размер текста по умолчанию*/
    color: black; /*цвет по умолчанию*/
    line-height: 1.6; /* расстояние между строчка по умолчанию*/
}
*{
    box-sizing: border-box;
    margin: 0 auto;
}
header{
    width: 100%;
    max-width: 95%;
    height: 90vh;
    margin-top: 50px;  
    overflow: visible;
}
h1{
    font-family: 'Oswald';
    color: #333333;
}
p{
    font-size: 17px; /*размер текста по умолчанию*/
    font-family: 'Open Sans'; /*выбор основных шрифтов*/
    color: #5B5858; /*цвет по умолчанию*/
}
a{
    color: white;
    font-size: 14px;
    font-family: 'Oswald';
    text-decoration: none;
    padding-left: 35px;
}
a:hover{
    color: gainsboro; /* цвет ссылки в момент нахождения курсором на ней*/
}

.container-part-aboutme{
    max-width: 95%; /*max высота блока*/
    height: 60vh; /*высота блока*/
    overflow: auto;
}
.container-part-portfolio{
    max-width: 95%;
    height: 200vh;
    background: #FBFBFB;
    overflow: hidden;
}
.topNubex{
    position: fixed; /* фиксация кнопки*/
    right: 50px; /* правый отступ*/
    bottom: 30px; /* отступ от низа*/
    color: gainsboro;
    text-decoration: none; /* отсутствие подчеркивание в кнопке "Вверх"*/
}
.container-part-contacts{
    max-width: 95%;
    margin: 5% auto; /* отступы top и bottom по 5%*/
    height: auto;
    overflow: scroll;
}
